//SASS for the top homepage slider

$background-dark: #000319
$highlight-bright: #FFAB00

//Front slider
#myCarousel-10 > div > div > div > div > div
  max-height: 300px
  z-index: -5
  img
    min-width: 100%

//Branding bar with logo and search bar
body > div.dialog-off-canvas__main-canvas > div.row.row-branding
  background-color: $background-dark
  div.l-branding
    padding: 10px 35px
    height: 100px
    img
      max-width: 200px
      max-height: 70px
    #search-block-form
      float: right
      padding-top: 23px
      max-width: 300px
      vertical-align: text-top


nav
  ul
    z-index: 3
    li
      z-index: 3
    li:hover
      background-color: $background-dark



